* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: #003767;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #7451EA;
}

.container {
  width: 970px;
  margin-top: 1.5rem;
}

.container-profil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container-profil .container-show-profile-text {
  width: 50%;
}

.container-profil .container-show-profile-text h1 {
  color: #fff;
  margin: 0.5rem;
}

.container-profil .container-show-profile-text .text-content {
  margin-top: 2rem;
  color: #fff;
}

.container-profil .show-portrait {
  width: 50%;
}

.container-profil .show-portrait img {
  width: 60%;
}

h2 {
  color: #003767;
  margin-bottom: 2em;
}

span {
  background-color: #1BE9A4;
  color: #003767;
  letter-spacing: 1px;
  padding: 5px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
}

main .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-top: 2em;
}

main .skills .icone-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
}

main .skills .icone-box .coda {
  font-size: 12em;
  color: #2F5A82;
}

main .skills .skill-content {
  width: 50%;
  text-align: left;
  padding: 28px;
  line-height: 25px;
}

main .skills .skill-content ul {
  padding: 0 30px;
  text-align: justify;
}

main .skills .skill-content ul li {
  margin-left: 30px;
}

main .skills .skill-content p {
  margin: 10px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-content: center;
  width: 100%;
}

footer h3 {
  color: #fff;
  margin: 0.5em;
  font-size: 30px;
}

footer h3 .contact {
  background: none;
  color: #fff;
}

footer .reseaux {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .reseaux a {
  text-decoration: none;
  color: #fff;
  background-color: #0376BC;
  font-size: 55px;
  padding: 15px;
  margin: 15px;
}

@media screen and (max-width: 1000px) {
  header {
    display: block;
    text-align: center;
    height: 100%;
  }
  .container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
  }
  .container-profil {
    display: block;
  }
  .container-profil .container-show-profile-text {
    width: 100%;
  }
  .container-profil .container-show-profile-text h1 {
    margin: 10px;
    padding: 20px;
  }
  .container-profil .container-show-profile-text p {
    margin: 20px;
    padding: 5px;
  }
  .container-profil .show-portrait {
    width: 100%;
  }
  .container-profil .show-portrait img {
    display: inline-block;
    width: 68%;
  }
  main .skills .icone-box {
    display: none;
  }
  main .skills .skill-content {
    width: 100%;
    text-align: center;
    padding: 15px;
  }
  main .skills .skill-content li {
    text-align: justify;
  }
  footer {
    display: block;
    text-align: center;
  }
  footer .container {
    display: block;
  }
  footer .container h3 {
    margin: 0.5em;
    font-size: 20px;
  }
  footer .container h3 span {
    background-color: #1BE9A4;
    color: #003767;
    letter-spacing: 1px;
    display: inline-block;
    margin-bottom: 10px;
  }
  footer .container h3 .contact {
    background: none;
    color: #fff;
  }
  footer .container .reseaux {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .container .reseaux a {
    text-decoration: none;
    color: #fff;
    background-color: #0376BC;
    font-size: 35px;
    padding: 15px;
    margin: 15px;
  }
}
/*# sourceMappingURL=style.css.map */