$color-header : #7451EA;
$color-text-bold : #1BE9A4;
$color-text: #003767;
$color-icons : #0376BC;
$color-icone-code : #2F5A82;
$marg: 5rem;

@mixin flex {
    display: flex;
    align-items: center;
}

* {
    box-sizing: border-box;
    margin: 0;

}


body {
  
    height: 100vh;
    font-family: sans-serif;
    background-color: $color-text;
}

.container {
    width: 970px;
    margin-top: 1.5rem;
}

header {
    @include flex;
    background-color: $color-header;
    justify-content: center;
}

.container-profil {
    display: flex;
    flex-direction: row;
}

.container-show-profile-text {
    width: 50%;
}

.show-portrait {
    width: 50%;

    img {
        width: 80%;
    }
}

span {
    background-color: $color-text-bold;
    color: $color-text;
    letter-spacing: 1px;
    padding: 5px;
}





main {
    @include flex;
    justify-content: center;
    background-color: #fff;
}

.container-skills {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.skill-content {
   width: 50%;
    li{
        margin-left: 30px;
    }
}

.coda {
    font-size: 12em;
    color: $color-icone-code;
}




footer {
    @include flex;
    justify-content: center;
   

   width: 100%;
   
}

h1 {
    color: #fff;
    margin: 0.5rem;
}

h2 {
    color: $color-text;
    margin-bottom: 2em;
}

h3 {
    color: #fff;
    margin: 0.5em;
    font-size: 30px;
}



.text-content {
    margin-top: 2rem;
    color: #fff;
}


.icone-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    
}

.skills {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 2em;
}


.reseaux {
    display: flex;

    a {
        text-decoration: none;
        color: #fff;
        background-color: $color-icons;
        font-size: 55px;
        padding: 15px;
        margin: 15px;
    }
}

p {
    margin: 10px;
}
@media screen and (max-width: 1280px)
{
    header{
        display: block;
        text-align: center;
        height: 100vh;
    
    }
    .container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
       
        margin-top: 0;
    }
    .container-profil {
    display: block;
    
}
.container-show-profile-text{
    width: 100%;
}
.show-portrait {
    width: 100%;
}
.show-portrait img{
    display: inline-block;
    width: 68%;

}
p{
    margin: 20px;
    padding: 5px;
}
    .icone-box {
        display: none; 
    }
    .skill-content {
        width: 100%;
        text-align: center;
        padding: 15px;
        li{
            text-align: justify;
        }
       
    }
    h1{
        margin: 10px;
        padding: 20px;
    }
    
}