$color-header : #7451EA;
$color-text-bold : #1BE9A4;
$color-text: #003767;
$color-icons : #0376BC;
$color-icone-code : #2F5A82;
$color-background-main: #fff;
$marg: 5rem;

@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: sans-serif;
    background-color: $color-text;
}

header {
    @include flex;
    background-color: $color-header;
}
.container {
    width: 970px;
    margin-top: 1.5rem;
}

.container-profil {
    display: flex;
    flex-direction: row;

    .container-show-profile-text {
        width: 50%;

        h1 {
            color: #fff;
            margin: 0.5rem;
        }

        .text-content {
            margin-top: 2rem;
            color: #fff;
        }

    }

    .show-portrait {
        width: 50%;

        img {
            width: 60%;
        }
    }
}
h2 {
    color: $color-text;
    margin-bottom: 2em;
}

span {
    background-color: $color-text-bold;
    color: $color-text;
    letter-spacing: 1px;
    padding: 5px;
}

main {
    @include flex;
    background-color: $color-background-main;

    .skills {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 2em;

        .icone-box {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40%;

            .coda {
                font-size: 12em;
                color: $color-icone-code;
            }
        }

        .skill-content {
            width: 50%;
            text-align: left;
            padding: 28px;
            line-height: 25px;

            ul {
                padding: 0 30px;
                text-align: justify;

                li {
                    margin-left: 30px;
                }
            }

            p {
                margin: 10px;
            }

        }
    }
}

footer {
    @include flex;
    justify-content: center;
    width: 100%;

    h3 {
        color: #fff;
        margin: 0.5em;
        font-size: 30px;

        .contact {
            background: none;
            color: #fff;
        }
    }

    .reseaux {
        display: flex;

        a {
            text-decoration: none;
            color: #fff;
            background-color: $color-icons;
            font-size: 55px;
            padding: 15px;
            margin: 15px;
        }
    }
}
@media screen and (max-width: 1000px) {
    header {
        display: block;
        text-align: center;
        height: 100%;
    }

    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }

    .container-profil {
        display: block;
        .container-show-profile-text {
            width: 100%;
            h1 {
                margin: 10px;
                padding: 20px;
            }
            p {
                margin: 20px;
                padding: 5px;
            }
        }
        .show-portrait {
            width: 100%;
             img {
                display: inline-block;
                width: 68%;
            }
        }
    }

    

    
   

   
main{
    .skills{
        .icone-box {
            display: none;
        }
        .skill-content {
            width: 100%;
            text-align: center;
            padding: 15px;
    
            li {
                text-align: justify;
            }
        }
    }
}  

    footer {
        display: block;
        text-align: center;

        .container {
            display: block;

            h3 {
                margin: 0.5em;
                font-size: 20px;

                span {
                    background-color: #1BE9A4;
                    color: #003767;
                    letter-spacing: 1px;
                    display: inline-block;
                    margin-bottom: 10px;
                }

                .contact {
                    background: none;
                    color: #fff;
                }
            }

            .reseaux {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                justify-content: center;

                a {
                    text-decoration: none;
                    color: #fff;
                    background-color: #0376BC;
                    font-size: 35px;
                    padding: 15px;
                    margin: 15px;
                }
            }
        }

    }

}